*.gem
*.rbc
.bundle
.config
.DS_Store
.greenbar
.ruby-version
.yardoc
.rubocop-*
_yardoc
coverage
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
